<footer class="text-center text-muted w-100 mt-auto fixed-bottom">
    <!-- TO-DO: Add the <script><script /> tag to include bootstrap javascript (aparently not usually needed)-->
    <p>
      &copy; Copyright 2022 : CSCI 3308 - Lab 9 Web Services
    </p>
  </footer>
</body>
</html>