<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
    Login Successful
    <a href="/search">
        <button type="button" class="btn btn-primary">Test Search</button>
    </a>

    <a href="/account">
        <button type="button" class="btn btn-primary">Account</button>
    </a>
</main>

<%- include ('../partials/footer') %>