<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div id="loginBlock" class="container">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div class="mb-3">
          <input name="username" type="text" class="form-control" placeholder="Username">
        </div>
        <div class="mb-3">
          <input name="password" type="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        Need an account? <a href="/register">Register</a>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>