<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <%- include ('../partials/message') %>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1> Logged out successfully </h1>
    <a href="/login">Login</a>
  </div>
</main>

<%- include ('../partials/footer') %>