<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<<<<<<< HEAD
<%- include ('../partials/message') %>
=======
>>>>>>> 66cdf173a2541dec104ffbdefa45e47fc6410061

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <form action="/register" method="POST">
<<<<<<< HEAD
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />

        <label for="password">Password:</label>
        <input type="text" id="password" name="password" />

        <input type="submit" value="Register"/>
=======
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input name="username" type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input name="password" type="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
>>>>>>> 66cdf173a2541dec104ffbdefa45e47fc6410061
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>